[flake8]
# Ignora gli errori E501, E203, W503
ignore = E501, E203, W503

# Lunghezza massima della riga: 100 caratteri
max-line-length = 100

# Esclusione delle cartelle che non contengono il codice sorgente
exclude =
    .git,
    __pycache__,
    env_monitoring,
    venv,
    E501,
    .ipynb_checkpoints


# In terminale, per indentazione e struttura:
# flake8 FastText.py
